
/**
 * Character node form.
 */
.fsgame-character-attributes {                  /* node view and edit */
  font-size: 150%;
  margin: auto;
  width: 410px;
}

.fsgame-character-attribute-value {             /* node view */
  font-weight: normal;
}

.fsgame-character-attribute,                    /* node view */
.fsgame-character-attributes .form-item {       /* node edit */
  float: left;
  font-weight: bold;
  line-height: 1.5em;
  margin: 0.2em 1.8em;
  text-align: center;
}

.fsgame-character-attributes input {            /* node edit */
  font-size: 125%;
  margin: auto;
  text-align: center;
  width: 50px !important;
}

.fsgame-character-class {                       /* node view and edit */
  clear: left;
}
